<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pablo Segovia: Familiares Coderhouse</title>
</head>
<body>
    <h1>Me llamo Pablo Segovia y esta es mi familia:</h1>
    {% if familiares %}
        {% for familiar in familiares %}
            <p>Mi {{ familiar.parentezco }} se llama {{ familiar.nombre }}</p>
            <p>Tiene {{ familiar.edad }} años y nació el día {{ familiar.fecha_nacimiento }}</p>
            <hr>
        {% endfor %}
    {% else %}
        <p>Todavía no hay familiares cargados en la base de datos.</p>
    {% endif %}
</body>
</html>